<html th:replace="~{base :: layout (conteudo=~{::main}, actions=~{::buttons}, title='Motoristas', section='Cadastrar novo motorista')}">
<body>
<buttons></buttons>
<main>
    <form th:action="@{/motorista}" th:object="${motorista}" method="post">
        <div class="mt-4">
            <div class="mb-3 row">
                <label for="nmCompleto" class="col-sm-2 col-form-label">Nome completo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nmCompleto" required="required" maxlength="70" th:field="*{nmCompleto}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="cnhUk" class="col-sm-2 col-form-label">CNH (somente números)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="cnhUk" required="required" th:field="*{cnhUk}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="tel" class="col-sm-2 col-form-label">Telefone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="tel" required="required" maxlength="14" th:field="*{tel}">
                </div>
            </div>
            <h3 th:text="${emAtividade}"></h3>
            <div class="mb-3 row">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" th:checked="${motorista.emAtividade ? 'checked' : ''}" required th:field="*{emAtividade}">
                    <label class="form-check-label" for="flexCheckChecked">Em atividade</label>
                </div>
            </div>
            <div class="mb-3 row">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
</main>
</body>
</html>